.checkbox-list {
    width: 266px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__header-text {
        font-family: $montBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        text-transform: uppercase;

        color: $darkShade100;
    }

    &__arrow {
        width: 44px;
        height: 44px;

        font-family: $icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: $darkShade50;
    }

    &__ul {
        width: 266px;
        height: 233px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__label {
        display: inline-flex;
        cursor: pointer;
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkbox-list__input-fake {
            border: 1px solid $purpleFSD;
        }
    }

    &__input-fake {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;


        background-color: $elementBack;

        border: 1px solid $darkShade25;
        box-sizing: border-box;
        border-radius: 4px;

        &:hover {
            border: 1px solid $purpleFSD;
        }

        &:checked {
            border: 1px solid $purpleFSD;
        }

        &::before {
            content:'';
            position: absolute;
            width: 6px;
            height: 8px;
            margin: -1px 0px 0px 0px;
            
            background: $purpleGradient;
            transform: rotate(45deg);
            
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            width: 5px;
            height: 7px;
            margin: -3px 0px 0px 0px;

            background: white;
            transform: rotate(45deg);

            display: none;
        }
    }
}
