@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/nullstyle";
@import "../../modules/text-field/text-field.scss";
@import "../../modules/login-form/login-form.scss";
@import "../../modules/dropdown/dropdown.scss";
@import "../../modules/date-dropdown/date-dropdown.scss";
@import "../../modules/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../modules/text-field/subscription-text-field.scss";
@import "../../modules/short-dropdown/short-dropdown.scss";
@import "../../modules/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../../modules/icons/icons.scss";
@import "../../modules/checkbox-buttons/checkbox-buttons.scss";
@import "../../modules/radio-buttons/radio-buttons.scss";
@import "../../modules/toggle/toggle.scss";
@import "../../modules/like-button/like-button.scss";
@import "../../modules/rate-button/rate-button.scss";
@import "../../modules/main-icon/main-icon.scss";
@import "../../modules/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "../../modules/reviews-box/reviews-box.scss";
@import "../../modules/bullet-list/bullet-list.scss";
@import "../../modules/range-slider/range-slider.scss";

html {
    background: whitesmoke;
    padding: 50px;
}

.test {
    width: 100vw;
    height: 100vh;
}


