@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/nullstyle";
@import "../../modules/text-field/text-field.scss";
@import "../../modules/login-form/login-form.scss";
@import "../../modules/dropdown/dropdown.scss";
@import "../../modules/date-dropdown/date-dropdown.scss";
@import "../../modules/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../modules/text-field/subscription-text-field.scss";
@import "../../modules/short-dropdown/short-dropdown.scss";

html {
    background: gray;
    padding: 50px;

}

.test {
    width: 400px;
    height: 400px;
    margin: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


