
.test
    .short-dropdown
        .short-dropdown__header
            span.short-dropdown__result
            i.short-dropdown__arrow expand_more
        ul.short-dropdown__ul
            li.short-dropdown__li спальни
                .short-dropdown__circle(class="short-dropdown__circle_minus")
                    span.short-dropdown__span_minus
                .short-dropdown__counter 2
                .short-dropdown__circle(class="short-dropdown__circle_plus")
                  span.short-dropdown__span_minus
                  span.short-dropdown__span_plus 
            li.short-dropdown__li кровати
                .short-dropdown__circle(class="short-dropdown__circle_minus")
                    span.short-dropdown__span_minus
                .short-dropdown__counter 2
                .short-dropdown__circle(class="short-dropdown__circle_plus")
                  span.short-dropdown__span_minus
                  span.short-dropdown__span_plus 
            li.short-dropdown__li ванные команты
                .short-dropdown__circle(class="short-dropdown__circle_minus")
                    span.short-dropdown__span_minus
                .short-dropdown__counter 2
                .short-dropdown__circle(class="short-dropdown__circle_plus")
                  span.short-dropdown__span_minus
                  span.short-dropdown__span_plus            