
.dropdown
    i.dropdown__arrow expand_more
    select.dropdown__select(name='dropdown')
        option(value='0', selected = true) Сколько гостей 
        option(value="6") 1
        option(value="7") 2