//- mixin  li-dropdown

mixin li-dropdown(room, counter, circleMinusId, counterId, circlePlusId)
    li.short-dropdown__li= room
        .counter
            .counter__circle(class="counter__circle_minus", id= circleMinusId)
            .counter__number(id= counterId)= counter
            .counter__circle(class="counter__circle_plus",id= circlePlusId)
                

//- block short-dropdown


.short-dropdown
    .short-dropdown__header
        p.short-dropdown__text-header 
            span(id='dropdownBedrooms') 2 спальни,
            span(id='dropdownBed') 2 кровати
            span(id= 'dropdownBathrooms')
        i.short-dropdown__arrow expand_more
    ul.short-dropdown__ul
        +li-dropdown('cпальни', '2', 'circleMinusOne', 'counterOne', 'circlePlusOne')
        +li-dropdown('кровати', '2', 'circleMinusTwo', 'counterTwo', 'circlePlusTwo')
        +li-dropdown('ванные комнаты', '0', 'circleMinusThree', 'counterThree', 'circlePlusThree')         