.short-dropdown {
    User-select: none;

    &__header {
        position: relative;
        width: 266px;
        height: 44px;
        display: flex;
        justify-content: space-between;

        border: 1px solid $darkShade25;
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;

        background: $elementBack;

        appearance: none;
        cursor: pointer;
        z-index: 100;

        &_active {
            border: 1px solid $darkShade50;
            border-radius: 4px 4px 0 0;
        }

        &:hover {
            border: 1px solid $darkShade50;
            transition: 0.2s;
        }
    }

    &__text-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 2px 13px;

        font-family: $montNorm;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        color: $darkShade75;
    }

    &__arrow {
        position: relative;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        font-family: $icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        color: $darkShade50;

        &_active {
            color: $darkShade75; 
        }
        
        &:hover {
            color: $darkShade75;
        }
    }

    &__ul {
        width: 266px;
        height: 118px;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 4px 0px;

        background: $elementBack;

        border: 1px solid $darkShade50;
        border-top: none;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px ;

        list-style-type: none;
        display: none;
    }

    &__li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 33.333%;
        padding: 5px 6px 3px 13px;

        font-family: $montBold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        text-transform: uppercase;

        color: $darkShade100;
    }
}

//- plus and minus circles and counter

.counter {
    width: 92px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;



    &__circle {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;


        border: 1px solid $darkShade25;
        box-sizing: border-box;
        border-radius: 25px;

        &:hover {
            border: 1px solid $darkShade50;
            transition: 0.3s;
        }

        &:active {

            width: 35px;
            height: 35px;

            transition: 0.1s;

        }

        &_minus {
            
            &::before {
                content: '-';
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0px 0px 3px 0px;
                
                font-family: $montNorm;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;

                color: $darkShade50;
            }

            &:hover::before {
                color: $darkShade75;
                transition: 0.3s;
            }
        }

        &_plus {
            &::before {
                content: '+';
                display: flex;
                align-items: center;
                text-align: center;

                font-family: $montNorm;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
        
                color: $darkShade50;
            }

            &:hover::before {
                color: $darkShade75;
                transition: 0.3s;
            }
        }
    }
}
