doctype html
html(lang='en')
    head
        title Jade
    body
        //- include ../../modules/login-form/login-form  
        //- include ../../modules/test.pug
        //- include ../../modules/short-dropdown/short-dropdown.pug
        //- include ../modules/expandable-checkbox-list/expandable-checkbox-list.pug
        //- include ../modules/icons/icons.pug
        
        
