doctype html
html(lang='en')
    head
        title Jade
    body
        a(href="pages/colors_type.html") ui kit        
        //- include ../modules/range-slider/range-slider.pug
        
        
        
        
        
        
        
