doctype html
html(lang='en')
    head
        title Jade
    body
                
        include ../modules/range-slider/range-slider.pug
        
        
        
        
        
        
        
