doctype html
html(lang='en')
    head
        title Jade
    body
        //- include ../../modules/login-form/login-form  
        //- include ../../modules/test.pug
        include ../modules/short-dropdown/short-dropdown.pug
        include ../modules/short-dropdown/short-dropdown.pug
        //- include ../modules/expandable-checkbox-list/expandable-checkbox-list.pug
        //- include ../modules/icons/icons.pug
        //- include ../modules/checkbox-buttons/checkbox-buttons.pug
        //- include ../modules/radio-buttons/radio-buttons.pug
        //- include ../modules/toggle/toggle.pug
        //- include ../modules/like-button/like-button.pug
        //- include ../modules/rate-button/rate-button.pug
        //- include ../modules/main-icon/main-icon.pug
        //- include ../modules/dropdown/dropdown.pug
        
        
        
