// fonts here

@font-face {
    font-family: 'Quicksand';
    src: url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
}