// Font
$headingMainFont        : 'Quicksand', sans-serif;
$mainFont               : 'Montserrat', sans-serif;

// Size
$desktopWidth           : 1280px;
$smDesktopWidth         : 980px;
$tableWidth             : 768px;
$phoneWidth             : 480px;
$smPhoneWidth           : 320px;
$h1FontSize             : 24px;
$h2FontSize             : 19px;
$h3FontSize             : 12px;
$bodyFontSize           : 14px;

// Main color
$darkShade100           : #1F2041;
$darkShade75            : rgba(31, 32, 65, 0.75);
$darkShade50            : rgba(31, 32, 65, 0.5);
$darkShade25            : rgba(31, 32, 65, 0.25);
$darkShade5             : gba(31, 32, 65, 0.05);
$purpleFSD              : #BC9CFF;
$greenFSD               : #6FCF97;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

