
.rate-button {
    width: 120px;
    height: 24px;
    display: flex;
    align-items: center;

    &__star {
        width: 24px;
        height: 20px;
        cursor: pointer;

        font-family: $icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 20px;
        

        color: $purpleFSD;

        &:hover {
            color: $greenFSD;
        }
    }
}

@supports (-webkit-text-fill-color: transparent) {
    .rate-button__star {
        background: $purpleGradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-rendering: optimizeLegibility;

        &:hover {
            background: $greenGradient; 
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-rendering: optimizeLegibility;
        }
    }
}