
.rate-button
    i.rate-button__star#star01 star_border
    i.rate-button__star#star02 star_border
    i.rate-button__star#star03 star_border
    i.rate-button__star#star04 star_border
    i.rate-button__star#star05 star_border